<div class="fff-overlay dashboard-container padded-content-page" layout="column" ng-controller="SquadController as squad">

    <div class="drag-container" layout="row" layout-xs="column" layout-margin layout-padding dragula='"drag-analytics-container"'>
        <tri-widget palette-background="deep-orange:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-trophy"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="squadinfo.prediction_info.total_points_mean" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>ASSISTANT.DIALOG.PROJECTED_POINTS</p>
            </div>
        </tri-widget>
        <tri-widget palette-background="triCyan:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-money"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0 text-ellipsis" countupto="squadinfo.squad_info.total_current_salary" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>ASSISTANT.DIALOG.TOTAL_SALARY</p>
            </div>
        </tri-widget>
        <tri-widget palette-background="indigo:500" content-layout="row" content-layout-align="space-between center" content-padding>
            <div>
                <md-icon class="font-size-5 opacity-50 margin-left-10" md-font-icon="fa fa-money"></md-icon>
            </div>
            <div layout="column" layout-align="center end">
                <p class="md-display-3 font-weight-100 margin-top-0 margin-bottom-0" countupto="squadinfo.squad_info.total_remaining_salary" decimals="0"></p>
                <p class="md-body-2 opacity-60 margin-top-0 margin-bottom-0" translate>ASSISTANT.DIALOG.SALARY_REMAINING</p>
            </div>
        </tri-widget>
    </div>

   <div layout="row" layout-xs="column" layout-margin layout-padding>
        <tri-widget flex="45" class="fix-container">
            <h1 class="md-headline" style="text-align:center">Optimise Your DraftKings Lineup</h1>
            <div ng-init="defaultSquad()">
                <pitch></pitch>            
                <div layout="row">
                    <md-button class="md-primary md-raised"  flex="100"  flex-gt-md="auto" ng-click="optimise()">Optimise Your Squad!
                    </md-button>
                </div>
            </div>        
        </tri-widget>
        <tri-widget flex="55" class="fix-container">

            <div>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="Squad Stats">
                        <md-content class="md-padding">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi.</p>
                        </md-content>
                    </md-tab>
                    <md-tab label="Player Stats">
                        <md-content class="md-padding">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </div>

            <md-fab-speed-dial md-open="false" md-direction="down" ng-class="md-compass" class="md-compass">
                <md-fab-trigger>
                    <img 
                        class="fab-shirt"
                        default-img="/assets/images/players/default.png" 
                        ng-class="shirtclass"
                        ng-src="/assets/images/shirts/2015/11.png" 
                        style=""
                    />
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini status-a">
                        <md-icon md-font-icon="fa fa-unlock"></md-icon>
                    </md-button>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini status-a">
                        <md-icon md-font-icon="fa fa-times"></md-icon>
                    </md-button>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini status-a">
                        <md-icon md-font-icon="fa fa-lock"></md-icon>
                        <md-tooltip md-direction="down" md-visible="tooltipVisible" md-autohide="false">
                            Lock into Optimisation
                        </md-tooltip>
                    </md-button>
                    <md-button aria-label="twitter" class="md-fab md-raised md-mini status-a">
                        <md-icon md-font-icon="fa fa-info"></md-icon>
                        <md-tooltip md-direction="up" md-visible="tooltipVisible" md-autohide="false">
                            Player Information
                        </md-tooltip>
                    </md-button>
                </md-fab-actions>
            </md-fab-speed-dial>

        </tri-widget>
    </div>

       <div class="drag-container" layout="row" layout-xs="column" layout-margin layout-padding dragula='"drag-analytics-container"'>
        <tri-widget class="fix-container">
                <p>Include: {{ include}}</p>
                <p>Exclude: {{exclude}}</p>
                <h1>Optimisation Test</h1>
                <div style="font-size:8px">
                    {{players}}
                </div>
            </div>        
        </tri-widget>
    </div>

</div>






