<div class="md-toolbar-tools">
    
    <md-button class="md-icon-button" ng-if="!vm.hideMenuButton()" ng-click="vm.openSideNav('left')" aria-label="side navigation">
        <md-icon md-font-icon="zmdi zmdi-menu"></md-icon>
    </md-button>

    <h2 hide-xs flex>
        <span ng-repeat="crumb in vm.breadcrumbs.crumbs">
            <span translate>{{crumb.name}}</span>
            <md-icon md-font-icon="zmdi zmdi-chevron-right" ng-if="!$last"></md-icon>
        </span>
    </h2>

    <md-button class="md-icon-button toolbar-button" ng-click="vm.toggleFullScreen()" aria-label="toggle fullscreen">
        <md-icon md-font-icon ng-class="vm.fullScreenIcon"></md-icon>
    </md-button>

    <md-button ng-if="vm.isLoggedIn" ng-click="vm.logOut()" aria-label="Login">
        <span translate="ADMIN.TOOLBAR.LOGOUT"></span>
    </md-button>

    <md-button ng-if="!vm.isLoggedIn" ng-click="vm.logIn()" aria-label="Login">
        <span translate="ADMIN.TOOLBAR.LOGIN"></span>
    </md-button>

    <md-button ng-if="!vm.isLoggedIn" ng-click="vm.signUp()" aria-label="Login">
        <span translate="ADMIN.TOOLBAR.SIGNUP"></span>
    </md-button>

</div>