<md-dialog aria-label="Mango (Fruit)"  ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h1>Player Information</h1>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="fa fa-times-circle" aria-label="Close dialog" style="font-size:200%"></i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content style="background-color:white">
      <div class="md-dialog-content" layout="column" layout-gt-sm="row" layout-fill layout-align="center center">
            <img flex class="modal-image"
                default-img="/assets/images/players/default.png" 
                ng-src="/assets/images/players/{{player.code}}.png" 
                style="max-width: 100px;"
            />
            <h2 flex>{{player.first_name}} {{player.last_name}}</h2>
      </div>
      <div class="md-dialog-content" layout="column" layout-fill layout-align="center center" layout-margin>
        <span flex>{{player.position}} ({{player.team.name}})</span>
        <span flex>{{player.team.next_fixture.venue}} vs. {{player.team.next_fixture.opposition_name }}</span>
    </md-dialog-content>
</md-dialog>